{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    {% if app.user %}
        Привет, {{app.user.email}}  | <a href={{ path('logout') }}>Выйти</a>
    {% else %}
        <a href={{ path('login') }}>Войти</a> | <a href={{ path('register') }}>Зарегестрироваться</a>
        <a href="{{ path('connect_google_start') }}">Войти через Google</a><br>
    {% endif %}

    <form class="form-inline my-2 my-lg-0" action="{{ path('blog_search') }}" method="get">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Ищем</button>
    </form>

    {% for post in posts %}
        <a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a><br><br>
    {% endfor %}
{% endblock %}
